.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  margin-top: 10px; 
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
  display: grid;
  grid-template-columns: 10fr [login] 1fr
}
.main-login-button {
  grid-column: login
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
